.flex-container {
  display: flex;
  background-color: red;
  padding: 10px;
  gap: 10px;
  height: 540px;
  justify-content:start; /* center, end, space-between, space-around, etc.*/
  align-items: start;
  flex-wrap: wrap;
}

.flex-item {
  background-color: wheat;
  width: 300px;
  height: 100px;
}

.item-2 {
  /* height: 250px; */
}