html {
  font-size: 10px;
}


.flex-container {
  display: flex;
  background-color: red;
  padding: 10px;
  gap: 10px;
  height: 540px;
  justify-content:start; /* center, end, space-between, space-around, etc.*/
  align-items: start;
  overflow: scroll;
}

.flex-container {
  box-shadow: 5px 5px 10px black;
}
.flex-item {
  background-color: wheat;
  width: 300px;
  height: 100px;
  font-size: 2rem;
}
.flex-item:first-child {
  padding: 12px;
}

.flex-item:last-child {
  background-color: blue;
  color: azure;
}

.item-2 {
  background-color: blueviolet;
}

.cabecalho, 
.corpo, 
.rodape {
  background-color: orange;
  margin-bottom: 10px;
}
